# Visual Studio / C++
# Ignores the folder with all the junk files (.vsid, .json, etc.)
.vs/

# Ignores user-specific settings
*.suo
*.user
*.vcxproj.filters
*.vcxproj.user

# Ignores all build output folders
[Dd]ebug/
[Rr]lease/
x64/
Win32/

# Ignores Caches
*.ipch
*.db